@model AdaptiveLearningFinal.Models.CourseResult

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CourseResult</legend>

    <div class="display-label">CourseQuestion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourseQuestion.QuestionAnswer)
    </div>

    <div class="display-label">User</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.UserName)
    </div>

    <div class="display-label">Correct</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Correct)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
