@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    Thank you for taking the time to interact with this site.  Please choose from the tabs at the top of this page to continue.
</p>
